body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* common button */
button {
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 8px 0px;
  cursor: pointer;
}

button.primary {
  background-color: #009879;
}
button.secondary {
  background-color: #e7e7e7;
  color: black;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h1 {
  color: #009879;
}

.notFoundContainer {
  max-width: 900px;
  margin: auto;
  margin-top: 48px;
  padding: 8px;
}
